@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;800&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: #000;
}


.image-post{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  cursor: pointer;
}

