{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="w-75">
        <h2 class="mt-5">Добавить пост</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.title.label(class="form-label") }}{{ form.title(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.content.label(class="form-label") }}{{ form.content(class="form-control") }}
            </div>
            
            
            
            <input type="file" name="photos" multiple accept="image/*">
            
            <div class="d-flex justify-content-center">
                {{ form.submit(class="btn btn-outline-success justify-content-center") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
