{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(with_categories=True) %}
<div class="text-{{ cat }}">{{ msg }}</div>
{% endfor %}
<form action="{{ url_for('login') }}" method="post">
    <div class="mb-3">
        <label class="form-label">Имя:</label>
        <input type="text" name="name" value="" class="form-control" required>
      </div>
    <div class="mb-3">
      <label class="form-label">Email:</label>
      <input type="text" name="email" value="" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Пароль:</label>
      <input type="password" name="psw" value="" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Повтор пароля:</label>
        <input type="password" name="psw2" value="" class="form-control" required>
      </div>
    <button type="submit" class="btn btn-primary" value="">Регистрация</button>
    
  </form>
{% endblock %}