{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<div>
    <div>
        <p>Админ-панель</p>
        {% for cat, msg in get_flashed_messages(True) %}
        <div>{{msg}}</div>
        {% endfor %}
        <form action="" method="post">
            <p><label for="">Логин:</label><input type="text" name="user"></p>
            <p><label for="">Пароль:</label><input type="password" name="psw"></p>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
</div>
{% endblock %}